Repository Kanivin/kanierp-dms, changes with the owners that CODEOWNERS names for each.
All owners: @deepeshgarg007, @ruthra-kumar, @khushi8112, @rohitwaghchaure, @akhilnarang

CODEOWNERS:

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,

kanierp/accounts/               @deepeshgarg007 @ruthra-kumar
kanierp/assets/                 @khushi8112 @deepeshgarg007
kanierp/regional                @deepeshgarg007 @ruthra-kumar
kanierp/selling                 @deepeshgarg007 @ruthra-kumar
kanierp/support/                @deepeshgarg007
pos*                            

kanierp/buying/                 @rohitwaghchaure
kanierp/maintenance/            @rohitwaghchaure
kanierp/manufacturing/          @rohitwaghchaure
kanierp/quality_management/     @rohitwaghchaure
kanierp/stock/                  @rohitwaghchaure
kanierp/subcontracting          @rohitwaghchaure

kanierp/controllers/            @deepeshgarg007 @rohitwaghchaure
kanierp/patches/                @deepeshgarg007 

.github/                        @deepeshgarg007
pyproject.toml                  @akhilnarang

kanivin_integrations
  kanierp/kanivin_integrations/__init__.py
  kanierp/kanivin_integrations/custom/contact.json
  kanierp/kanivin_integrations/doctype/__init__.py
  kanierp/kanivin_integrations/doctype/plaid_settings/__init__.py
  kanierp/kanivin_integrations/doctype/plaid_settings/plaid_connector.py
  kanierp/kanivin_integrations/doctype/plaid_settings/plaid_settings.js
  kanierp/kanivin_integrations/doctype/plaid_settings/plaid_settings.json
  kanierp/kanivin_integrations/doctype/plaid_settings/plaid_settings.py
  kanierp/kanivin_integrations/doctype/plaid_settings/test_plaid_settings.py
  kanierp/kanivin_integrations/utils.py
  kanierp/kanivin_integrations/workspace/kanierp_integrations/kanierp_integrations.json
Owners: none

kanierp Integrations
  kanierp/kanierp_integrations/__init__.py
  kanierp/kanierp_integrations/custom/contact.json
  kanierp/kanierp_integrations/doctype/__init__.py
  kanierp/kanierp_integrations/doctype/plaid_settings/__init__.py
  kanierp/kanierp_integrations/doctype/plaid_settings/plaid_connector.py
  kanierp/kanierp_integrations/doctype/plaid_settings/plaid_settings.js
  kanierp/kanierp_integrations/doctype/plaid_settings/plaid_settings.json
  kanierp/kanierp_integrations/doctype/plaid_settings/plaid_settings.py
  kanierp/kanierp_integrations/doctype/plaid_settings/test_plaid_settings.py
  kanierp/kanierp_integrations/utils.py
  kanierp/kanierp_integrations/workspace/kanierp_integrations/kanierp_integrations.json
Owners: none

Remove workspace
  kanierp/assets/workspace/assets/assets.json
  kanierp/crm/workspace/crm/crm.json
  kanierp/manufacturing/workspace/manufacturing/manufacturing.json
  kanierp/projects/workspace/projects/projects.json
  kanierp/quality_management/workspace/quality/quality.json
  kanierp/support/workspace/support/support.json
Owners: @khushi8112, @deepeshgarg007, @rohitwaghchaure

Item price based on territory wise
  kanierp/selling/doctype/customer/customer.json
  kanierp/selling/doctype/sales_order/sales_order.py
  kanierp/stock/doctype/item_price/item_price.json
  kanierp/stock/get_item_details.py
Owners: @deepeshgarg007, @ruthra-kumar, @rohitwaghchaure

Revert "Remove workspace"
  kanierp/assets/workspace/assets/assets.json
  kanierp/crm/workspace/crm/crm.json
  kanierp/manufacturing/workspace/manufacturing/manufacturing.json
  kanierp/projects/workspace/projects/projects.json
  kanierp/quality_management/workspace/quality/quality.json
  kanierp/support/workspace/support/support.json
Owners: @khushi8112, @deepeshgarg007, @rohitwaghchaure

check parent territories
  kanierp/stock/get_item_details.py
Owners: @rohitwaghchaure

Item pricing territory validation
  kanierp/stock/doctype/item_price/item_price.py
Owners: @rohitwaghchaure
